.footer-distributed{
  // left:0px;
  // bottom:0px;
  height:70vh;
  width:100%;
  padding-top: 1em;
}

/* Footer left */

.footer-left{
  float: left;
  width: 49%;
}

.footer-right{
  float: right;
  width: 49%
}
.footer-left h4{
  color:  #505050;
  font: bold;
  // text-align: center;
}

.footer-right h4 {
 color:  #505050;
 font: bold;
 // text-align: center;
}

.newsletter-block form {
  display: flex;
  justify-content: space-around;
}

.newsletter-email {
  height: 35px;
  width: 65%;
  border-radius: 10px;
  color: #7C8488;
  border: 1px solid rgba(80, 80, 80, 1);
  background-color:  #ffffff;
  margin-right: 10px;
  box-sizing: content-box;
  text-indent: 5px;

}

.footer-distributed form button {
  height: 35px;
  width: 25%;
  border-radius: 10px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            color: #7C8488;
  border: 1px solid rgba(80, 80, 80, 1);
  background-color:  #ffffff;
  box-sizing: content-box;
  float: right;

  &:hover {
    background: rgba(226, 236, 238, 1);
    border: 1px solid rgba(80, 80, 80, 1);
    font-weight: bold;
  }
}

.customer-care-block {
padding-top: 1em;
}
.customer-care-ul {
  padding-inline-start: 0px;
  line-height: 2;
}
.customer-care-list {
  color:  #505050;
  margin-left: 0px;
}

.social-media-block {
  padding-top: 1em;
}

.social-media-icons {
  height: 35px;
  width: 35px;
}

/* Footer links */

.footer-distributed .footer-links{
  // color:  #505050;
  // padding: 0;
}

.footer-distributed .footer-links a{
  // display:inline-block;
  // line-height: 1.8;
  // text-decoration: none;
}

.footer-distributed .footer-company-name{
  // color:  black;
  // font-size: 14px;
  // font-weight: lighter;
  // margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
  // margin-top: 40px;
}

// .footer-distributed .footer-icons a{
//   display: inline-block;
//   width: px;
//   height: px;
//   cursor: pointer;
//   background-color:  #ffffff;
//   border-radius: 2px;

//   font-size: 20px;
//   color: #33383b;
//   text-align: center;
//   line-height: 35px;

//   margin-right: 3px;
//   margin-bottom: 5px;
// }

/* Footer Right */


.footer-distributed .footer-right p{
  // display: inline-block;
  // vertical-align: top;
  // margin: 15px 42px 0 0;
  // color: black;
}

/* The contact form */

// .footer-distributed form{
//   // display: inline-block;
// }

// .footer-distributed form input,
// .footer-distributed form textarea{
  // display: block;
  // border-radius: 3px;
  // box-sizing: border-box;
  // background-color:  #ffffff;
  // border: 1px solid rgba(80, 80, 80, 1);
  // border-radius: 10px;
  // box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  // resize: none;

  // font: inherit;
  // font-size: 14px;
  // font-weight: normal;
  // color:  #d1d2d2;

  // width: 400px;
  // padding: 18px;
// }

// .footer-distributed ::-webkit-input-placeholder {
//   color:  #5c666b;
// }

// .footer-distributed ::-moz-placeholder {
//   color:  #5c666b;
//   opacity: 1;
// }

// .footer-distributed :-ms-input-placeholder{
//   color:  #5c666b;
// }


/* If you don't want the footer to be responsive, remove these media queries */

// @media (max-width: 1000px) {

//   .footer-distributed {
//     font: bold 14px sans-serif;
//   }

//   .footer-distributed .footer-company-name{
//     font-size: 12px;
//   }

//   .footer-distributed form input,
//   .footer-distributed form textarea{
//     width: 250px;
//   }

//   .footer-distributed form button{
//     padding: 10px 35px;
//   }

// }

// @media (max-width: 800px) {

//   .footer-distributed{
//     // padding: 30px;
//   }

//   .footer-distributed .footer-left,
//   .footer-distributed .footer-right{
//     float: none;
//     max-width: 300px;
//     margin: 0 auto;
//   }

//   .footer-distributed .footer-left{
//     margin-bottom: 40px;
//   }

//   .footer-distributed form{
//     margin-top: 30px;
//   }

//   .footer-distributed form{
//     display: block;
//   }

//   .footer-distributed form button{
//     float: none;
//   }
// }
