<section class="contact-section">
  <div class="contact-form-container" style="overflow:hidden;">
    <div class="contact-title">
      <h3>Send us a message</h3>
      <p> Drop us a line below and we'll get back to you in lightning speed!</p>
    </div>
    <form class="form">
     <div class="id">
       <div class="name">
         <label for="name">Name*</label>
         <input id="name" type="text" name="name" required>
       </div>
       <div class="email">
         <label for="email">Email*</label>
         <input id="email" type="text" name="email" required>
       </div>
     </div>
     <div class="subject">
       <label for="subject">Subject*</label>
       <input id="subject" type="text" name="subject" required>
     </div>
     <div class="content">
       <label id="content" for="content">Content*</label>
       <textarea name="content" id="" cols="30" rows="10" required></textarea>
       <button class="send-button">Send</button>
     </div>
    </form>
  </div>
</section>
